<!-- fullCalender -->
<link href="../plugins/fullcalendar/css/fullcalendar.min.css" rel="stylesheet">

<!-- Stylesheet -->
<link href="../css/style.css" rel="stylesheet">
<!-- Custom Stylesheet -->
<link href="../css/custom.css" rel="stylesheet">

<div class="row">
    <div class="col-lg-8 col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">스케줄</h4>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-box m-b-50">
                            <div id="calendar"></div>
                        </div>
                    </div>

                    <!-- end col -->
                    <!-- BEGIN MODAL -->
                    <div class="modal fade none-border" id="event-modal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title"><strong>Add New Event</strong></h4>
                                </div>
                                <div class="modal-body"></div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-success save-event waves-effect waves-light">Create event</button>
                                    <button type="button" class="btn btn-danger delete-event waves-effect waves-light" data-dismiss="modal">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Add Category -->
                    <div class="modal fade none-border" id="add-category">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title"><strong>Add a category</strong></h4>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="control-label">Category Name</label>
                                                <input class="form-control form-white" placeholder="Enter name" type="text" name="category-name">
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label">Choose Category Color</label>
                                                <select class="form-control form-white" data-placeholder="Choose a color..." name="category-color">
                                                    <option value="success">Success</option>
                                                    <option value="danger">Danger</option>
                                                    <option value="info">Info</option>
                                                    <option value="pink">Pink</option>
                                                    <option value="primary">Primary</option>
                                                    <option value="warning">Warning</option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-danger waves-effect waves-light save-category" data-dismiss="modal">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END MODAL -->
                </div>
            </div>
        </div>
        
    </div> 
    <div class="col-lg-4 col-md-12">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body px-0">
              <h4 class="card-title px-4 mb-3">알림판</h4>
              <div class="todo-list">
                <div class="tdl-holder">
                  <div class="tdl-content01 tdl-content-de">
                    <ul id="todo_list">
                      <li>
                        <label>
                          <input type="checkbox"><i></i>
                          <span>청소하기</span>
                          <a href='#' class="ti-trash"></a>
                        </label>
                      </li>
                      <li>
                        <label>
                          <input type="checkbox"><i></i>
                          <span>월요일 그릇교체</span>
                          <a href='#' class="ti-trash"></a>
                        </label>
                      </li>
                      <li>
                        <label>
                          <input type="checkbox"><i></i>
                          <span>믈 갈아주기</span>
                          <a href='#' class="ti-trash"></a>
                        </label>
                      </li>
                      <li>
                        <label>
                          <input type="checkbox"><i></i>
                          <span>개미퇴치</span>
                          <a href='#' class="ti-trash"></a>
                        </label>
                      </li>
                    </ul>
                  </div>
                  <div class="px-4">
                      <input type="text" class="tdl-new01 form-control" placeholder="할일을 입력하세요.">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body px-0">
              <h4 class="card-title px-4 mb-3">재고</h4>
              <div class="todo-list">
                <div class="tdl-holder">
                  <div class="tdl-content02 tdl-content-de">
                    <ul id="todo_list">
                      <li>
                        <label>
                          <input type="checkbox"><i></i>
                          <span>캣츠랑 2kg</span>
                          <a href='#' class="ti-trash"></a>
                        </label>
                      </li>
                      <li>
                        <label>
                          <input type="checkbox"><i></i>
                          <span>위위 닭가슴살 23개</span>
                          <a href='#' class="ti-trash"></a>
                        </label>
                      </li>
                      <li>
                        <label>
                          <input type="checkbox"><i></i>
                          <span>캔 5개</span>
                          <a href='#' class="ti-trash"></a>
                        </label>
                      </li>
                    </ul>
                  </div>
                  <div class="px-4">
                      <input type="text" class="tdl-new02 form-control" placeholder="물품을 입력하세요.">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        
    </div>
</div>

<!--<script src="../plugins/common/common.min.js"></script>-->
<!--<script src="../js/custom.min.js"></script>-->
<!--<script src="../js/settings.js"></script>-->
<!--<script src="../js/gleek.js"></script>-->
<!--<script src="../js/styleSwitcher.js"></script>-->

<!-- Circle progress -->
<!--<script src="../plugins/circle-progress/circle-progress.min.js"></script>-->
<!-- fullCalender -->
<!--<script src="../plugins/jqueryui/js/jquery-ui.min.js"></script>-->
<!--<script src="../plugins/moment/moment.min.js"></script>-->
<!--<script src="../plugins/fullcalendar/js/fullcalendar.min.js"></script>-->
<!--<script src="../js/plugins-init/fullcalendar-init.js"></script>-->

<!--<script src="../js/dashboard/dashboard-1.js"></script>-->